@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi catálogo de videojuegos.</h1>
    <p>Esta es una página que ira actualizando el catálogo cada mes.</p>
</div>
