/* =========================================================
   ASSASSIN'S CREED MIRAGE — Color texto naranja
========================================================= */

h1, h2, h3, h4, h5, h6 {
    color: #FF8C00;
}

p, span, li {
    color: #FF8C00;
}

.unity-accent,
.catalog-btn,
.product-btn,
.unity-btn,
strong, b {
    color: #FF8C00;
}

small, label, caption, figcaption {
    color: #FF8C00;
}

a {
    color: #FF8C00;
    text-decoration: none;
}

    a:hover {
        color: #FFA733;
    }
